DI-Bootcamp-Hackathon-2/
Project/
Project/ParserTelegram.py
Project/ParserYAD2.py

# Ignore virtual environments
venv/
Project/.env/
*.env

# Ignore config files
*.log
config.json

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore session
anon.session
.session